Source: ohmage-ubuntu 
Section: web
Priority: optional
Maintainer: Jeroen Ooms <jeroenooms@gmail.com>
Build-Depends: debhelper (>> 4.1.0), patch, r-base-dev (>= 2.15.1), libcurl4-openssl-dev | libcurl4-gnutls-dev, libxml2-dev, opencpu-dev
Standards-Version: 3.9.3

Package: ohmage-server 
Architecture: all
Depends: patch, ssl-cert, mysql-server, tomcat7, apache2
Description: Ohmage server with mobilize frontend.

Package: ohmage-standalone 
Architecture: all
Depends: ohmage-server, ohmage-viz
Description: Ohmage server and viz in one package.

Package: ohmage-viz 
Architecture: any
Depends: patch, ssl-cert, opencpu-server
Description: Ohmage viz server.

Package: ohmage-selfreg
Architecture: all
Depends: ohmage-server, postfix | sendmail
Description: Ohmage server self registration module